nav {
    background-color: #563d7c;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#logo-div {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;
}

#logo-div img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

#nav-links {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links ul {
    display: flex;
    list-style: none;
    height: 100%;
}

#nav-links ul li {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

#nav-links ul li a {
    color: white;
    text-decoration: none;
}